h1 {
    color: blue;
}

body {
    background-image: url("img_back.jpg"), url(back.jpg);
    background-position: center;
    background-repeat: no-repeat, repeat;
    padding: 25px;
}

img {
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

h1 {
    font-family: 'Monoton', cursive;
    text-align: center;
    padding: 50px;
}

.yellow {
    margin-left: 4%;
}
